{% extends "::base.html.twig" %}
{% block body %}

<h1>HardwareType creation</h1>

<form action="{{ path('hardwaretype_create') }}" method="post" {{ form_enctype(form) }} class="well">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('hardwaretype') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}